<%include partials/headerAdmin.ejs%>

<div class="col-sm-6">
    <h2> Exam Timetable</h2>
    <div class="table">
        <table class="masterlist">
            <tr>
                <th>Module code</th>
                <th>Module name</th>
                <th>Semester</th>
                <th>Department</th>
                <th>Time</th>
                <th>Venue</th>

            </tr>


            <% exams.forEach(function(exam){ %>
            <tr>
                <th><%=module.code%></th>
                <th><%= exam.module.name %></th>
                <th><%= exam.module.semester %></th>
                <th><%= exam.module.department %></th>
                <th><%= exam.timeHours %> : <%= exam.timeMins%></th>
                <th><%= exam.venue %></th>
            </tr>
            <% });%>





        </table>
    </div>

</div>



</div>
</div>
<%include partials/footer.ejs%>