<%include partials/headerAdmin.ejs%>

<div class="col-sm-6">
    <h2>Edit Lecturer Details</h2>
    <form action="/editLecturer/<%=user._id%>" method="post">

        <div  class="form-group">
            <input type="text" name="firstName" placeholder="First Name" required value="<%=user.firstName%>">

        </div>
        <div class="form-group">
            <input type="text" name="lastName" placeholder="Last Name" required value="<%=user.lastName%>">
        </div>
        <div class="form-group">
            <input type="text" name="username" placeholder="ID" required maxlength="7" minlength="7" value="<%=user.username%>">
        </div>
        <div class="form-group">
            <input type="text" name="NIC" placeholder="NIC" maxlength="10" minlength="10" required value="<%=user.NIC%>">
        </div>
        <div class="form-group">
            <select name="faculty" data-style="btn-info" class="selectpicker" required value="<%=user.faculty%>">
                <option value="Engineering">Engineering</option>
                <option value="IT">Information Technology</option>
                <option value="Business">Business Management</option>
                <option value="Architecture">Architecture</option>
            </select>
        </div>

        <div class="form-group">
            <select name="department" data-style="btn-info" class="selectpicker" required value="<%=user.department%>">
                <option value="CSE">Computer Science & Engineering</option>
                <option value="ME">Mechanical Engineering</option>
                <option value="ENTC">Electronics & Telecommunication Engineering</option>
                <option value="CE">Civil Engineering</option>
            </select>
        </div>
        <div class="form-group">
            <input type="password" name="password" value="password" required>
        </div>

        <p>
            <button type="submit" class="btn btn-success">Submit</button>
        </p>
    </form>

</div>

<div class="col-sm-3 sidebar content-box" style="background-color:#eee;">
    <ul class="nav">
        <li>
            <h5 class="mt-3" id="upcoming_events">Upcoming Events<span onclick="document.getElementById('notice_bar1').style.display='none'" class="close" data-dismiss="alert" position="left">&times;</button></h5>
            <p id="para">The Examinations Division has responsibility for making arrangements for the administration of all public examination</p>
        </li>
        <li>
            <hr></hr>
            <h5 class="mt-3" id="notices">Notices<span onclick="document.getElementById('notice_bar1').style.display='none'" class="close" data-dismiss="alert" position="left">&times;</button></h5>
            <p id="para">The Examinations Division has responsibility for making arrangements for the administration of all public examination  </p>
        </li>
        <li>
            <hr></hr>
            <h6 id="related"> Related Services</h6>
            <ul style="list-style-type:none">
                <li style="font-size:12px;"><a href="#">Results</a><li>
                <li style="font-size:12px;"><a href="#">Module Registration</a></li>
            </ul>
        </li>
    </ul>
</div>

</div>
</div>

<%include partials/footer.ejs%>