<%include partials/headerAdmin.ejs%>
        <div class="col-sm-6">
            <h2>Modules</h2>

            <div class="table">
                <table class="masterlist">
                    <tr>
                        <th>Module Name</th>
                        <th>Module code</th>
                        <th>Department</th>
                        <th>Semester</th>

                    </tr>


                    <% modules.forEach(function(module){ %>
                    <tr>
                        <th><%= module.name %></th>
                        <th><%= module.code %></th>
                        <th><%= module.department %></th>
                        <th><%= module.semester %></th>
                        <th>
                            <form action="/deleteModule/<%=module._id%>" method="post">
                                <button class="btn btn-danger">Delete</button>
                            </form></th>


                    </tr>
                    <% });%>




                </table>
            </div>

        </div>



    </div>
</div>
<!-- Footer -->
<%include partials/footer.ejs%>